body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-source-sans-pro: "Source Sans Pro";

  /* font sizes */
  --font-size-base: 16px;
  --font-size-lg: 18px;

  /* Colors */
  --color-blueviolet-100: #5d46e8;
  --color-blueviolet-200: rgba(93, 70, 232, 0.5);
  --color-black: #000;
  --color-white: #fff;

  /* Gaps */
  --gap-xl: 20px;

  /* Paddings */
  --padding-sm: 14px;
  --padding-6xs: 7px;

  /* Border radiuses */
  --br-xl: 20px;
}
