.removebg-preview-1-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bitcoin-logo-1-icon {
  height: 26.3px;
  width: 40px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.cryptocoin {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-source-sans-pro);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 76px;
  z-index: 1;
}
.cryptocoin-wrapper,
.home-why-us,
.login-your-account {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cryptocoin-wrapper {
  flex-direction: column;
  padding: 3px 0 0;
}
.home-why-us,
.login-your-account {
  flex-direction: row;
}
.home-why-us {
  flex-direction: column;
  padding: 4px 0 0;
}
.home {
  min-width: 41px;
}
.feature,
.home,
.why-us {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-source-sans-pro);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  z-index: 1;
}
.why-us {
  min-width: 57px;
  white-space: nowrap;
}
.feature {
  min-width: 51px;
}
.home-and-why-u-s {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.login-your-account1 {
  margin: 0;
  width: 224px;
  position: relative;
  font-size: 28px;
  font-weight: 400;
  font-family: var(--font-source-sans-pro);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  z-index: 1;
}
.login-your-account-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 22px 0 23px;
}
.not-registered-label,
.not-registered-label-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.not-registered-label {
  width: 269px;
  align-items: flex-end;
  gap: 138px;
}
.not-registered-label-wrapper {
  width: 368px;
  align-items: flex-start;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.register-now {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-source-sans-pro);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 88px;
  z-index: 1;
}
.component-instance {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.component-1-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
}
.component-1,
.sign-in {
  position: relative;
  z-index: 1;
}
.sign-in {
  width: 46px;
  font-size: var(--font-size-base);
  font-family: var(--font-source-sans-pro);
  color: var(--color-blueviolet-100);
  text-align: center;
  display: inline-block;
  min-width: 46px;
}
.component-1 {
  justify-content: flex-start;
  padding: var(--padding-6xs) 16px;
  white-space: nowrap;
}
.component-1,
.component-instance-parent,
.home-why-us-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.component-instance-parent {
  width: 201px;
  justify-content: flex-start;
  gap: 35px;
}
.home-why-us-parent {
  align-self: stretch;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.wrapper-frame-16-child {
  outline: 0;
  padding: var(--padding-sm) 373px;
  font-family: var(--font-source-sans-pro);
  font-size: var(--font-size-lg);
  color: var(--color-blueviolet-200);
  border: 0;
  width: 100%;
  height: 100%;
  background: 0 0;
  position: relative;
  z-index: 3;
}
.frame-child {
  width: 335px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.25);
  height: 51px;
  display: none;
}
.email {
  height: 23px;
  width: 61px;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-source-sans-pro);
  color: var(--color-blueviolet-200);
  white-space: pre-wrap;
  text-align: center;
  display: inline-block;
  z-index: 2;
}
.rectangle-parent,
.wrapper-frame-16 {
  height: 51px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-parent {
  width: 32%;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.25);
  padding: var(--padding-sm) 25px;
  white-space: nowrap;
  z-index: 1;
  position: absolute;
  left: 348px;
  top: 0;
  pointer-events: none;
}
.wrapper-frame-16 {
  position: relative;
  width: 1031px;
  border: 0;
  background-color: transparent;
  max-width: 100%;
}
.wrapper-frame-17-child {
  outline: 0;
  padding: var(--padding-sm) 374px;
  font-family: var(--font-source-sans-pro);
  font-size: var(--font-size-lg);
  color: var(--color-blueviolet-200);
  border: 0;
  width: 100%;
  height: 100%;
  background: 0 0;
  position: relative;
  z-index: 3;
}
.frame-item {
  width: 335px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.25);
  height: 51px;
  display: none;
}
.password {
  height: 23px;
  width: 87px;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-source-sans-pro);
  color: var(--color-blueviolet-200);
  white-space: pre-wrap;
  text-align: center;
  display: inline-block;
  z-index: 2;
}
.rectangle-group,
.wrapper-frame-17 {
  height: 51px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-group {
  width: 32%;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.25);
  padding: var(--padding-sm) 26px;
  white-space: nowrap;
  z-index: 1;
  position: absolute;
  left: 348px;
  top: 0;
  pointer-events: none;
}
.wrapper-frame-17 {
  position: relative;
  width: 1031px;
  border: 0;
  background-color: transparent;
  max-width: 100%;
}
.frame-inner {
  height: 33px;
  width: 80px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: none;
}
.login {
  width: 42px;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-source-sans-pro);
  color: var(--color-blueviolet-100);
  text-align: center;
  display: inline-block;
  min-width: 42px;
  z-index: 2;
}
.rectangle-container {
  cursor: pointer;
  border: 0;
  padding: 5px 19px;
  background-color: var(--color-white);
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.rectangle-container:hover {
  background-color: #e6e6e6;
}
.not-registered,
.register-here {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 300;
  font-family: var(--font-source-sans-pro);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  z-index: 1;
}
.not-registered {
  flex: 1;
  min-width: 101px;
}
.register-here {
  width: 84px;
  min-width: 84px;
}
.register-button {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frame-parent {
  width: 205px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 14px;
}
.desktop-2,
.frame-parent,
.not-registered-prompt {
  display: flex;
  align-items: flex-start;
}
.not-registered-prompt {
  width: 901px;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}
.desktop-2 {
  margin: 0;
  width: 100%;
  position: relative;
  background-color: var(--color-blueviolet-100);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px 65px 351px 162px;
  box-sizing: border-box;
  gap: 40px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 975px) {
  .home-why-us-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 950px) {
  .desktop-2 {
    gap: 20px 40px;
    padding-left: 81px;
    padding-right: 32px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .login-your-account1 {
    font-size: 22px;
  }
  .not-registered-label {
    gap: 69px 138px;
  }
  .desktop-2 {
    padding-left: 20px;
    box-sizing: border-box;
  }
}
