


.navbar_main {
  display: none;
  align-self: stretch;
  background-color: #5d46e8;
  /* background-color: rgb(56, 58, 59); */
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  /* padding: 24px 65px var(--padding-2xl) 162px; */
  box-sizing: border-box;
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  /* max-width: 100%; */
  padding: 20px 10px;
  /* margin-top: 5vw; */
  gap: var(--gap-xl);
  /* text-align: left; */
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-source-sans-pro);
}

.bitcoin-logo-1-icon {
  height: 26.3px;
  width: 40px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}

.bitcoin-logo-1-parent,
.cryptocoin-wrapper,
.navbar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cryptocoin{
  position: relative;
  bottom: 3px;
  right: 6.50vw;
}
.bitcoin-logo-1-parent{
  position: relative;
  right: 5vw;
  bottom: 3.50vw;
}
.bitcoin-logo-1-parent,
.navbar {
  flex-direction: row;
}
.navbar {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 var(--padding-3xs) 3.7px 0;
}
.home {
  min-width: 41px;
}
.buy-sell,
.contact,
.home,
.news {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.buy-sell {
  min-width: 67px;
  white-space: nowrap;
}
.contact,
.news {
  min-width: 53px;
}
.news {
  min-width: 37px;
}
.nav_list,
.home-parent {
  display: flex;
  align-items: flex-start;
}
.home-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.home-parent a{
  color: white;
}
.nav_list {
  width: 363px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs);
  box-sizing: border-box;
  max-width: 100%;
}
.register-now {
  position: relative;
  display: inline-block;
  min-width: 103px;
  white-space: nowrap;
  z-index: 1;
}
.sign-in {
  width: 54px;
  position: relative;
  font-size: var(--font-size-base);
  display: inline-block;
  font-family: var(--font-source-sans-pro);
  color: var(--color-blueviolet-100);
  text-align: center;
  min-width: 54px;
  z-index: 2;
}
.sign_btn,
.registration-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.sign_btn {
  cursor: pointer;
  /* position: relative;
  top: -22vw; */
  border: 0;
  padding: var(--padding-6xs) 12px;
  background-color: var(--color-white);
  border-radius: var(--br-xl);
  white-space: nowrap;
  z-index: 1;
}
.sign_btn:hover {
  background-color: #e6e6e6;
}
.registration-form {
  gap: 35px;
}
.lorem-ipsum-dolor {
  margin: 0;
}
.visa-para {
  height: 78px;
  flex: 1;
  position: relative;
  font-weight: 300;
  display: inline-block;
  max-width: 100%;
  z-index: 3;
}

.bitcoin-exchange,
.you-can-trust {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 5;
}
.bitcoin-exchange-parent {
  position: relative;
  top: 15vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  /* max-width: 100%; */
}
.sed-ut-persp {
  align-self: stretch;
  height: 117px;
  position: relative;
  top: 14vw;
  font-size: var(--font-size-lg);
  display: inline-block;
  flex-shrink: 0;
  z-index: 6;
}
.frame-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  max-width: 100%;
}
.get-started {
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-source-sans-pro);
  color: var(--color-blueviolet);
  text-align: left;
  display: inline-block;
  min-width: 85px;
}
.get-started-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-8xl);
  background-color: var(--color-white);
  position: relative;
  top: 32vw;
  left: 0;
  border-radius: var(--br-xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 7;
}
.get-started-wrapper:hover {
  background-color: #e6e6e6;
}
.frame-parent {
  height: 282px;
  width: 475px;
  position: relative;
  max-width: 100%;
}
.calculator {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 661px 356px var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-26xl);
  color: var(--color-white);
  font-family: var(--font-source-sans-pro);
}
.bitcoin-amico-2-icon {
  width: 30vw;
  position: relative;
  top: 6vw;
  border-radius: var(--br-xl);
  /* max-height: 100%; */
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  max-width: 100%;
}
.bitcoin-is-an,
.what-is-bitcoin {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.bitcoin-is-an {
  width: 30vw;
  font-weight: 400;
  /* white-space: pre-wrap; */
  display: inline-block;
  max-width: 100%;
}
.lorem-ipsum-dolor1,
.tempor-incididunt-ut {
  margin: 0;
}
.bitcoin-para {
  align-self: stretch;
  height: 164px;
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 300;
  font-family: var(--font-inter);
  display: inline-block;
  flex-shrink: 0;
}
.bitcoin-is-an-innovative-a-n-parent {
  align-self: stretch;
  /* justify-content: flex-start; */
  gap: var(--gap-xl);
  font-size: var(--font-size-9xl);
}
.bitcoin-is-an-innovative-a-n-parent,
.frame-wrapper1,
.what-is-bitcoin-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.what-is-bitcoin-parent {
  
  position: relative;
  top: 5vw;
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.frame-wrapper1 {
  /* background-color: bisque; */
  position: relative;
  top: 5vw;
  width: 546px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xl);
  box-sizing: border-box;
  min-width: 546px;
}
.bitcoin-amico-2-parent,
.frame-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.bitcoin-amico-2-parent {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-7xs);
  box-sizing: border-box;
}
.multi-cryptocurrency-wallet {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.multi-cryptocurrency-wallet-wrapper {
  position: relative;
  top: 2vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
  max-width: 100%;
}

.multi-para {
  margin: 0;
  align-self: stretch;
  height: 175px;
  position: relative;
  font-size: var(--font-size-9xl);
  font-weight: 300;
  font-family: inherit;
  display: inline-block;
}
.frame-parent2,
.frame-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent2 {
  align-self: stretch;
  gap: var(--gap-6xl);
}
.frame-wrapper2 {
  width: 530px;
  padding: 46px 0 0;
  box-sizing: border-box;
  min-width: 530px;
}
.e-wallet-amico-1-icon {
  width: 400px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 100%;
}
.frame-div,
.frame-parent1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent1 {
  width: 1035px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-div {
  width: 1123px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 119px;
}
.logic-tree1 {
  height: 400px;
  width: 400px;
  position: absolute;
  margin: 0 !important;
  top: 183.14px;
  right: -264px;
  border-radius: var(--br-31xl);
  background-color: var(--color-blueviolet);
  box-shadow: 0 20px 100px #5d46e8;
  transform: rotate(-45.1deg);
  transform-origin: 0 0;
  z-index: 1;
}
.frame-container {
  margin-top: 2vw;
  /* background-color: #7f90e479; */
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-8xl);
  box-sizing: border-box;
  position: relative;
  top: 1.50vw;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-black);
  font-family: var(--font-source-sans-pro);
}
.maincontent-chooseus-child {
  width: 1440px;
  height: 1259px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-blueviolet);
  display: none;
  max-width: 100%;
}
.why-choose-us {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.why-choose-us-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.sed-ut-perspi {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-9xl);
  font-weight: 300;
  font-family: inherit;
  text-align: center;
  z-index: 1;
}
.frame-parent3,
.maincontent-chooseus-inner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent3 {
  width: 941px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.maincontent-chooseus-inner {
  width: 1131px;
  flex-direction: row;
  justify-content: center;
}
.credit-card-1-icon {
  width: 75px;
  height: 75px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 527px;
  object-fit: cover;
  z-index: 1;
}
.strong-security {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.nested-loop {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-10xl);
}
.operation-1-icon {
  width: 75px;
  height: 75px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.if-else-statement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 9.5px 0 0;
}
.morbi-eget-varius {
  align-self: stretch;
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.for-each-loop {
  width: 293px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.worldwide-network-icon-1 {
  height: 75px;
  width: 75px;
  position: relative;
  /* right: 2vw; */
  object-fit: cover;
  min-height: 75px;
  z-index: 1;
}
.switch-case {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-xl);
}
.input-processor1,
.output-generator {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.output-generator {
  width: 907.5px;
  flex-direction: column;
  justify-content: flex-start;
}
.input-processor1 {
  /* background-color: aliceblue; */
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-9xl) 0 var(--padding-xl);
  box-sizing: border-box;
}
.payment-options {
  margin: 0;
  position: relative;
  width: 215px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.payment-options-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-23xl) 0 40.5px;
}
.morbi-eget-varius1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 300;
  text-align: center;
  z-index: 1;
}
.frame-parent5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.logical-operator-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 7.5px 0 0;
}
.compliance-1-icon {
  height: 75px;
  width: 75px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.compliance-1-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.legal-compliance {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.legal-compliance-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 43px 0 43.5px;
}
.morbi-eget-varius2 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 300;
  text-align: center;
  z-index: 1;
}
.frame-parent6,
.frame-parent7 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frame-parent6 {
  gap: var(--gap-mini);
}
.cross-platform-1-icon {
  height: 75px;
  width: 75px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.cross-platform-1-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.cross-platform-trading {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.cross-platform-trading-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.morbi-eget-varius3 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 300;
  text-align: center;
  z-index: 1;
}
.frame-parent9 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frame-parent8 {
  width: 291px;
  align-items: flex-start;
  gap: var(--gap-mini);
}
.frame-parent8,
.logical-operator,
.logical-operator-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.logical-operator {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-26xl);
}
.logical-operator-wrapper {
  width: 309px;
  align-items: flex-start;
  padding: var(--padding-8xs) var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.bitcoin-logo-1-1,
.wallet-1-icon {
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.bitcoin-logo-1-1 {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.wallet-1-icon {
  height: 75px;
  width: 75px;
}
.wallet-1-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-10xl) 0 var(--padding-xl);
}
.competitive-commissions {
  margin: 0;
  position: relative;
  width: 314px;
  left: 3vw;
  place-items: center; 
 font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.morbi-eget-varius4 {
  flex: 1;
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.morbi-eget-varius-risus-ut-ve-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  text-align: center;
  font-size: var(--font-size-xl);
}
.competitive-commissions-parent {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.competitive-commissions-parent,
.frame-parent10,
.frame-wrapper3 {
  display: flex;
  align-items: flex-start;
}
.frame-parent10 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.frame-wrapper3 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-smi) 0 var(--padding-4xl);
}
.bitcoin-logo-1-1-parent {
  height: 567px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 37px;
  max-width: 100%;
}
.world-coverage {
  margin: 0;
  position: relative;
  width: 200px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.image-processor {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-40xl);
}
.morbi-eget-varius5 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 300;
  text-align: center;
  z-index: 1;
}
.data-aggregator1,
.image-processor-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-processor-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-8xs);
}
.data-aggregator1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 1px;
}
.report-1-icon {
  height: 75px;
  width: 75px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.report-1-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.advanced-reporting {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.advanced-reporting-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl);
}
.morbi-eget-varius6 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 300;
  text-align: center;
  z-index: 1;
}
.frame-parent12 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-8xs);
}
.frame-parent11,
.frame-parent12,
.frame-wrapper5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent11 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-mini);
}
.frame-wrapper5 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-4xs) 0 var(--padding-3xs);
}
.stock-1-icon {
  height: 75px;
  width: 75px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.stock-1-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.margin-trading {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.margin-trading-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-40xl);
}
.morbi-eget-varius7 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 300;
  text-align: center;
  z-index: 1;
}
.frame-parent14 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-8xs);
}
.data-aggregator-parent,
.frame-parent13,
.frame-parent14 {
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent13 {
  width: 299px;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-mini);
}
.data-aggregator-parent {
  align-self: stretch;
  gap: var(--gap-26xl);
}
.data-aggregator-parent,
.frame-parent4,
.frame-wrapper4 {
  display: flex;
  align-items: flex-start;
}
.frame-wrapper4 {
  width: 308px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.frame-parent4 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.data-aggregator {
  width: 1131px;
  flex-direction: column;
  align-items: flex-start;
  padding: 90px 0 0;
  position: relative;
  gap: 10px;
  font-size: var(--font-size-9xl);
}
.data-aggregator,
.maincontent-chooseus,
.stack {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.maincontent-chooseus {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--color-blueviolet);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-81xl) 21px 150px var(--padding-xl);
  gap: 80px;
}
.stack {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 167px;
  text-align: left;
  font-size: var(--font-size-26xl);
  color: var(--color-white);
  font-family: var(--font-source-sans-pro);
}
.ready-to-get {
  margin: 0 !important;
  position: absolute;
  bottom: 578px;
  left: 265px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 3;
}
.bottom-card-icon {
  height: 100%;
  width: 100%;
  z-index: 2;
  object-fit: contain;
  /* position: absolute; */
  left: 0;
  /* top: 10px; */
  transform: scale(1.422);
}
.wrapper-bottom-card {
  height: 237px;
  width: 1109px;
  position: absolute;
  margin: 0 !important;
  top: -525px;
  right: -403px;
  border-radius: var(--br-xl);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-an-account {
  margin: 0;
  flex: 1;
  position: relative;
  bottom: 30vw;
  font-size: inherit;
  font-weight: 300;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 3;
}
.dropdown-menu-creator {
  width: 597px;
  margin: 0 !important;
  position: absolute;
  top: 6237px;
  left: 257px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: center;
}
.condition-splitter-child {
  height: 400px;
  width: 400px;
  position: absolute;
  margin: 0 !important;
  top: 103.14px;
  right: -257px;
  border-radius: var(--br-31xl);
  background-color: var(--color-blueviolet);
  box-shadow: 0 20px 100px #5d46e8;
  transform: rotate(-45.1deg);
  transform-origin: 0 0;
}
.visa-card {
  width: 471px;
  height: 238px;
  position: relative;
  border-radius: var(--br-xl);
  background: radial-gradient(
    50% 50%at 50% 50%,
    #5d46e8,
    rgba(217, 217, 217, 0)
  );
  border: 1.8px solid var(--color-blueviolet);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.logo-icon,
.mastercard {
  position: relative;
  z-index: 1;
}
.mastercard {
  margin: 0;
  font-size: inherit;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-family: inherit;
}
.logo-icon {
  height: 37px;
  width: 47px;
}
.heading-formatter {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.code-snippet-wrapper {
  position: relative;
  letter-spacing: 0.51em;
  line-height: 24px;
  white-space: pre-wrap;
  z-index: 1;
}
.quote-block-producer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl) 0 36px;
}
.anchor-link-generator,
.cameron-williamson {
  position: relative;
  letter-spacing: 0.06em;
  z-index: 1;
}
.cameron-williamson {
  line-height: 24px;
}
.anchor-link-generator {
  display: inline-block;
  min-width: 60px;
}
.table-of-contents-creator {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.list-marker-provider,
.paragraph-formatter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.list-marker-provider {
  align-self: stretch;
  align-items: flex-start;
  gap: 42px;
  font-size: var(--font-size-xl);
}
.paragraph-formatter {
  width: 471px;
  border-radius: var(--br-xl);
  background: radial-gradient(
    
    #4127d1,
    rgba(217, 217, 217, 0)
  );
  border: 1.8px solid var(--color-blueviolet);
  box-sizing: border-box;
  align-items: flex-end;
  padding: var(--padding-lg) var(--padding-5xl) 22px;
  gap: 73px;
  min-width: 471px;
  max-width: 100%;
}
.crypto-wallet-visa {
  position: relative;
  top: 4vw;
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.constant-provider {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  /* padding: 0 39px; */
  box-sizing: border-box;
  max-width: 100%;
}
.visa-header {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 1.79vw;
  /* font-size: var(--font-size-9xl); */
  font-weight: 400;
  font-family: inherit;
}
.function-caller {
  position: relative;
  bottom: 3vw;
  left: 5vw;
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: 51px;
}
.function-caller,
.merger,
.normalizer,
.output-splitter {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.merger {
  width: 530px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-lg) 0 0;
  box-sizing: border-box;
  min-width: 530px;
  font-size: var(--font-size-16xl);
  color: var(--color-black);
  font-family: var(--font-source-sans-pro);
}
.normalizer,
.output-splitter {
  flex-direction: row;
}
.normalizer {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.output-splitter {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.fast-crypto-exchange {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.fast-crypto-exchange-wrapper {
  position: relative;
  top: 2vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
  max-width: 100%;
}

.thanks-to-cryptowallet-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  /* font-size: var(--font-size-9xl); */
  font-size: 2vw;
  font-weight: 400;
  font-family: inherit;
}
.annotation-handler,
.highlight-element-maker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.highlight-element-maker {
  align-self: stretch;
  gap: var(--gap-6xl);
}
.annotation-handler {
  width: 530px;
  padding: 0 0 var(--padding-90xl);
  box-sizing: border-box;
  min-width: 530px;
  min-height: 283px;
}
.international-trade-rafiki-1 {
  width: 400px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 100%;
}
.callout-creator {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  font-size: var(--font-size-16xl);
  color: var(--color-black);
  font-family: var(--font-source-sans-pro);
}
.condition-splitter,
.input-combiner,
.value-range {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.value-range {
  width: 1140px;
  flex-direction: column;
  padding: 0 var(--padding-xl) 0 0;
  gap: 148px;
}
.condition-splitter,
.input-combiner {
  flex-direction: row;
}
.input-combiner {
  flex: 1;
  padding: 0 0 var(--padding-18xl);
}
.condition-splitter {
  width: 1298px;
  padding: 0 0 0 var(--padding-xl);
  position: relative;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-gray);
  font-family: var(--font-roboto);
}
.frame-child {
  height: 600px;
  width: 1440px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-blueviolet);
  display: none;
  max-width: 100%;
}
.product-quality-pana-1 {
  width: 400px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.no-experience,
.no-worries {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.margin-manager {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.looking-to-get,
.lorem-ipsum-dolor2 {
  margin: 0;
}
.expreice-para {
  align-self: stretch;
  height: 164px;
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 300;
  font-family: var(--font-inter);
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.padding-controller {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.border-element-maker,
.desktop-2-inner,
.rectangle-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.border-element-maker {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xl) 0 0;
  min-width: 355px;
}
.desktop-2-inner,
.rectangle-parent {
  flex-direction: row;
}
.rectangle-parent {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--color-blueviolet);
  padding: var(--padding-81xl) 174px var(--padding-81xl) 162px;
  gap: 158px;
}
.desktop-2-inner {
  align-self: stretch;
  padding: 0 0 47px;
  text-align: left;
  font-size: var(--font-size-26xl);
  color: var(--color-white);
  font-family: var(--font-source-sans-pro);
}
.flow-container-producer {
  top: 433.94px;
  left: 652.7px;
  border-radius: var(--br-31xl) 0 0 0;
  background-color: #533fd0;
  width: 819.1px;
  height: 277px;
  z-index: 1;
}
.data-aggregator2,
.flow-container-producer,
.hero-background-color {
  position: absolute;
  transform: rotate(-9deg);
  transform-origin: 0 0;
}
.hero-background-color {
  top: 277.51px;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-blueviolet);
  box-shadow: 0 20px 100px #5d46e8;
  width: 1774px;
  height: 988.2px;
}


.sign-in {
  width: 54px;
  position: relative;
  /* right: 20px; */
  display: inline-block;
  min-width: 54px;
  z-index: 1;
}
.register-now{
  position: relative;
  top: 10px;
}
.oops-error-message{
  cursor: pointer;
}
.data-processor-queue {
  position: absolute;
  top: -446px;
  left: -68.6px;
  width: 1906.7px;
  height: 1253.5px;
}
.credit-card-icon,
.hero-page-icon {
  position: absolute;
  top: -223.5px;
  left: -40.3px;
  width: 1594.6px;
  height: 1030.8px;
  object-fit: contain;
  z-index: 4;
}
.credit-card-icon {
  top: 88px;
  left: 599px;
  width: 787px;
  height: 543px;
  z-index: 5;
}
.bitcoin-logo-1-icon {
  position: absolute;
  top: 28px;
  left: 162px;
  width: 40px;
  height: 26.3px;
  object-fit: cover;
  z-index: 6;
}
.output-formatter {
  width: 100%;
  height: 807.5px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-blueviolet);
  font-family: var(--font-source-sans-pro);
}
.value-parser-child {
  height: 400px;
  width: 400px;
  position: absolute;
  margin: 0 !important;
  top: 165.14px;
  right: -231px;
  border-radius: var(--br-31xl);
  background-color: var(--color-blueviolet);
  box-shadow: 0 20px 100px #5d46e8;
  transform: rotate(-45.1deg);
  transform-origin: 0 0;
}
.what-investors-say {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.parallel-process {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 116px;
}
.investor-para {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-9xl);
  font-weight: 300;
  font-family: inherit;
  text-align: center;
}
.iteration-loop {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.matrix-multiplier-icon {
  height: 22.6px;
  width: 13.7px;
  position: relative;
  object-fit: contain;
}
.function-caller1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 10.1px;
}
.sed-ut-perspi1 {
  margin: 0;
  width: 548px;
  position: relative;
  top: 3vw;
  font-size: inherit;
  font-weight: 300;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.tree-constructor-icon {
  /* height: 22.6px; */
  /* width: 13.7px; */
  position: relative;
}
.graph-builder {
  width: 100px;
  height: 100px;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.neural-network-icon {
  height: 13px;
  width: 13px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.matrix-solver {
  width: 512px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.john-doe {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 112px;
}
.database-manager,
.queue-handler,
.stack-manager {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.database-manager {
  width: 512px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
}
.queue-handler,
.stack-manager {
  justify-content: flex-start;
}
.queue-handler {
  flex: 1;
  flex-direction: column;
  gap: 13.1px;
}
.stack-manager {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xl);
  box-sizing: border-box;
}
.ceo-company {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 300;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.file-writer {
  width: 574px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi) 20.3px;
  box-sizing: border-box;
  max-width: 100%;
}

.rule-applier {
  display: flex;
  position: relative;
  left: 20%;
  max-width: 100%;
}

.rule-applier {
  width: 608.7px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  flex-shrink: 0;
}
.sed-ut-perspi2 {
  top: 44.7px;
  left: calc(50% - 274.35px);
  font-weight: 300;
  display: inline-block;
  width: 548px;
}
.ceo-company1,
.sed-ut-perspi2,
.taylor-doe {
  margin: 0;
  position: absolute;
  font-size: inherit;
  font-family: inherit;
}
.ceo-company1 {
  top: 388.7px;
  left: calc(50% - 291.35px);
  font-weight: 300;
  display: inline-block;
  width: 548px;
}
.taylor-doe {
  top: 341.7px;
  left: calc(50% - 74.35px);
  font-weight: 400;
  text-align: left;
}
.video-processor-icon,
.video-processor-icon1 {

  position: absolute;
  height: 4.8%;
  width: 2.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.video-processor-icon {
  width: 12px;
  top: 0;
  right: 97.75%;
  bottom: 95.2%;
  left: 0;
  object-fit: contain;
}
.video-processor-icon1 {
  top: 34.93%;
  right: 0;
  bottom: 60.28%;
  left: 97.75%;
}
.sound-processor-icon {
 position: relative;
 top: 8vw;
 left: 8vw;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  object-fit: contain;
}


.rule-applier1 {
  height: 471px;
  width: 608.7px;
  position: relative;
  left: 22%;
  flex-shrink: 0;
  /* debug_commit: f6aba90; */
  max-width: 100%;
}
.component-2,
.pattern-matcher {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.component-2 {
  /* width: 609px; */
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  /* gap: 169.3px; */
}
.pattern-matcher {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-9xl);
}
.connection-hub,
.data-aggregator3 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.connection-hub {
  width: 961px;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 var(--padding-xl) 0 0;
  gap: 60px;
}
.data-aggregator3 {
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 43.2px;
}
.register-now1,
.value-parser {
  position: relative;
  font-family: var(--font-source-sans-pro);
  text-align: left;
}
.value-parser {
  width: 1211px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-26xl);
  color: var(--color-black);
}
.register-now1 {
  font-size: var(--font-size-lg);
  color: var(--color-white);
  display: inline-block;
  min-width: 99px;
}
.timer {
  cursor: pointer;
  border: 0;
  padding: 15.5px 27.5px;
  background-color: var(--color-blueviolet);
  position: absolute;
  top: 83.8px;
  left: 980px;
  border-radius: var(--br-xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 3;
}
.timer:hover {
  background-color: #856eff;
}
.services,
.we-help-you {
  position: relative;
  display: inline-block;
  z-index: 2;
}
.we-help-you {
  width: 189px;
  font-weight: 500;
  flex-shrink: 0;
}
.services {
  min-width: 67px;
}
.monitor {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi);
  text-align: left;
}
.buy-bitcoin {
  flex: 1;
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.monitor1 {
  width: 107px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.buy-ethereum {
  flex: 1;
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 107px;
  z-index: 2;
}
.monitor2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi) var(--padding-10xs) var(--padding-3xs);
}
.sell-bitcoins {
  flex: 1;
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.monitor3 {
  width: 113px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) var(--padding-10xs);
  box-sizing: border-box;
}
.bitcoin-trading {
  flex: 1;
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 117px;
  z-index: 2;
}
.monitor4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) var(--padding-10xs) var(--padding-4xs);
}
.margin-trading1 {
  flex: 1;
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.monitor5,
.scheduler {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.monitor5 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
}
.scheduler {
  width: 130px;
  flex-direction: column;
  gap: var(--gap-6xs);
  min-width: 130px;
}
.information {
  position: relative;
  display: inline-block;
  min-width: 96px;
  z-index: 2;
}
.data-processor {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
  text-align: left;
}
.payment-options1 {
  flex: 1;
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.a-p-i-consumer {
  width: 140px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) var(--padding-10xs);
  box-sizing: border-box;
}
.fee-schedule {
  flex: 1;
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.a-p-i-consumer1 {
  width: 115px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) var(--padding-10xs);
  box-sizing: border-box;
}
.getting-started {
  flex: 1;
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 116px;
  z-index: 2;
}
.a-p-i-consumer2 {
  width: 130px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) var(--padding-10xs);
  box-sizing: border-box;
}
.identify-verification-guide {
  flex: 1;
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.a-p-i-consumer3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs) var(--padding-6xs);
}
.card-verification-guide {
  width: 184px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  z-index: 2;
}
.decoder,
.log-reader {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.log-reader {
  position: relative;
  left: 3vw;
  flex: 1;
  flex-direction: column;
  gap: var(--gap-6xs);
  min-width: 129px;
}
.decoder {
  width: 368px;
  flex-direction: row;
  gap: 39px;
  min-width: 368px;
  max-width: 100%;
}
.get-in-touch {
  position: relative;
  left: 3vw;
  display: inline-block;
  min-width: 96px;
  z-index: 2;
}
.birmingham-al-35243,
.summit-boulevard {
  margin: 0;
}
.summit-boulevard-birmingham-a-container {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.summit-boulevard-birmingham-a-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-18xl) 15px 44px;
}
.telephone-123 {
  align-self: stretch;
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.infositenamecom1 {
  text-decoration: underline;
}
.infositenamecom {
  color: inherit;
}
.wwwexamplecom1 {
  text-decoration: underline;
}
.wwwexamplecom {
  color: inherit;
}
.email-infositenamecomweb-container {
  align-self: stretch;
  height: 69px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  z-index: 2;
}
.telephone-123-45678910-tel-parent {
  width: 206px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 19px;
}
.frame-wrapper6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.get-in-touch-parent {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  min-width: 250px;
  text-align: left;
}
.encryptor {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.calculator1,
.encryptor,
.validator {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.validator {
  width: 714px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  text-align: center;
  font-family: var(--font-source-sans-pro);
}
.calculator1 {
  width: 1072.5px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.bottom-paga {
  position: absolute;
  top: 277.51px;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-blueviolet);
  box-shadow: 0 20px 100px #5d46e8;
  width: 1774px;
  height: 1071px;
  transform: rotate(-9deg);
  transform-origin: 0 0;
  z-index: 1;
}
.location-1-icon,
.phone-call-1-icon {
  position: absolute;
  top: 360.8px;
  left: 1330px;
  width: 30px;
  height: 30px;
  object-fit: cover;
  z-index: 2;
}

.phone-call-1-icon {
  top: 435.8px;
  left: 1330px;
  
}
.frame-inner,
.frame-item,
.group-icon {
  position: absolute;
  top: 388.8px;
  left: 487px;
  width: 48px;
  height: 48px;
  z-index: 2;
}
.frame-inner,
.group-icon {
  left: 559px;
}
.group-icon {
  left: 631px;
}
.bottom-paga-parent {
  width: 1919.7px;
  height: 1335.3px;
  position: absolute;
  margin: 0 !important;
  bottom: -655.5px;
  left: -418px;
}
.copyright-2018 {
  position: relative;
  font-weight: 300;
  font-family: var(--font-source-sans-pro);
  z-index: 2;
}
.randomizer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 310.8px 170px 54px;
  box-sizing: border-box;
  gap: 40px;
  max-width: 100%;
  height: 100%;
}
.barrier,
.desktop-2 {
  position: relative;
  text-align: left;
}
.barrier {
  align-self: stretch;
  height: 679.8px;
  max-width: 100%;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.desktop-2 {
  width: 100%;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 113px;
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-source-sans-pro);
}
@media screen and (max-width: 1400px) {
  .maincontent-chooseus {
    gap: 40px 80px;
    padding-top: var(--padding-46xl);
    padding-bottom: 97px;
    box-sizing: border-box;
  }
  .stack {
    padding-bottom: var(--padding-90xl);
    box-sizing: border-box;
  }
  .component-2 {
    flex-wrap: wrap;
    gap: 169.3px 85px;
  }
  .randomizer {
    padding-left: var(--padding-66xl);
    padding-right: var(--padding-66xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1200px) {
  /* .input-processor {
    display: none;
  } */
  .bottom-paga{
    display: block;
  }
  .splitter {
    width: 0;
  }
  .sequencer {
    gap: 61px 30px;
  }
  .calculator {
    padding-right: 330px;
    box-sizing: border-box;
  }
  .bitcoin-amico-2-icon,
  .frame-wrapper1 {
    flex: 1;
  }
  .bitcoin-amico-2-parent {
    flex-wrap: wrap;
  }
  .e-wallet-amico-1-icon,
  .frame-wrapper2 {
    flex: 1;
  }
  .frame-parent1 {
    flex-wrap: wrap;
  }
  .frame-div {
    gap: 59px 119px;
  }
  .frame-parent4 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .merger,
  .paragraph-formatter {
    flex: 1;
  }
  .normalizer {
    flex-wrap: wrap;
  }
  .annotation-handler,
  .international-trade-rafiki-1 {
    flex: 1;
  }
  .callout-creator {
    flex-wrap: wrap;
  }
  .value-range {
    gap: 74px 148px;
  }
  .product-quality-pana-1 {
    flex: 1;
  }
  .rectangle-parent {
    flex-wrap: wrap;
  }
  .connection-hub {
    gap: 30px 60px;
  }
  .calculator1 {
    flex-wrap: wrap;
  }
  .barrier {
    height: auto;
    min-height: 679.8000000000002;
  }
}
@media screen and (max-width: 825px) {
  .barrier{
    display: block;
  }
  .visa-para {
    display: none;
  }
  .sequencer {
    width: 424px;
  }
  .bitcoin-exchange,
  .you-can-trust {
    font-size: var(--font-size-17xl);
  }
  .calculator {
    padding-right: 165px;
    padding-bottom: 231px;
    box-sizing: border-box;
  }
  .what-is-bitcoin {
    font-size: var(--font-size-9xl);
  }
  .frame-wrapper1 {
    min-width: 100%;
  }
  .multi-cryptocurrency-wallet {
    font-size: var(--font-size-9xl);
  }
  .frame-wrapper2 {
    min-width: 100%;
  }
  .frame-div {
    gap: 30px 119px;
  }
  .why-choose-us {
    font-size: var(--font-size-17xl);
  }
  .switch-case {
    flex-wrap: wrap;
    justify-content: center;
  }
  .data-aggregator {
    padding-top: var(--padding-39xl);
    box-sizing: border-box;
  }
  .maincontent-chooseus {
    gap: 20px 80px;
    padding-top: var(--padding-23xl);
    padding-bottom: 63px;
    box-sizing: border-box;
  }
  .stack {
    padding-bottom: 71px;
    box-sizing: border-box;
  }
  .paragraph-formatter {
    gap: 36px 73px;
    min-width: 100%;
  }
  .crypto-wallet-visa {
    font-size: var(--font-size-9xl);
  }
  .function-caller {
    gap: 25px 51px;
  }
  .merger {
    min-width: 100%;
  }
  .fast-crypto-exchange {
    font-size: var(--font-size-9xl);
  }
  .annotation-handler {
    min-width: 100%;
  }
  .value-range {
    gap: 37px 148px;
  }
  .no-experience,
  .no-worries {
    font-size: var(--font-size-17xl);
  }
  .border-element-maker {
    min-width: 100%;
  }
  .rectangle-parent {
    gap: 158px 79px;
    padding: var(--padding-46xl) 87px var(--padding-46xl) 81px;
    box-sizing: border-box;
  }
  .desktop-2-inner {
    padding-bottom: var(--padding-12xl);
    box-sizing: border-box;
  }
  .what-investors-say {
    font-size: var(--font-size-17xl);
  }
  .parallel-process {
    padding-left: var(--padding-39xl);
    box-sizing: border-box;
  }
  .component-2 {
    gap: 169.3px 42px;
  }
  .data-aggregator3 {
    padding-bottom: var(--padding-9xl);
    box-sizing: border-box;
  }
  .decoder {
    flex: 1;
    min-width: 100%;
  }
  .get-in-touch-parent {
    flex: 1;
  }
  .encryptor {
    flex-wrap: wrap;
  }
  .randomizer {
    gap: 20px 40px;
    padding-left: var(--padding-23xl);
    padding-right: var(--padding-23xl);
    box-sizing: border-box;
  }
  .desktop-2 {
    gap: 56px 113px;
  }
}
@media screen and (max-width: 450px) {
  .sequencer {
    gap: 61px 15px;
  }
  .bitcoin-exchange,
  .you-can-trust {
    font-size: var(--font-size-8xl);
  }
  .calculator {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .what-is-bitcoin {
    font-size: var(--font-size-2xl);
  }
  .bitcoin-is-an {
    font-size: var(--font-size-3xl);
  }
  .multi-cryptocurrency-wallet {
    font-size: var(--font-size-2xl);
  }
  .multi-para {
    font-size: var(--font-size-3xl);
  }
  .why-choose-us {
    font-size: var(--font-size-8xl);
  }
  .sed-ut-perspi,
  .strong-security {
    font-size: var(--font-size-3xl);
  }
  .morbi-eget-varius {
    font-size: var(--font-size-base);
  }
  .payment-options {
    font-size: var(--font-size-3xl);
  }
  .payment-options-wrapper {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .morbi-eget-varius1 {
    font-size: var(--font-size-base);
  }
  .legal-compliance {
    font-size: var(--font-size-3xl);
  }
  .legal-compliance-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .morbi-eget-varius2 {
    font-size: var(--font-size-base);
  }
  .cross-platform-trading {
    font-size: var(--font-size-3xl);
  }
  .morbi-eget-varius3 {
    font-size: var(--font-size-base);
  }
  .logical-operator {
    gap: 22px 45px;
  }
  .competitive-commissions {
    font-size: var(--font-size-3xl);
  }
  .morbi-eget-varius4 {
    font-size: var(--font-size-base);
  }
  .bitcoin-logo-1-1-parent {
    gap: 18px 37px;
  }
  .world-coverage {
    font-size: var(--font-size-3xl);
  }
  .image-processor {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .morbi-eget-varius5 {
    font-size: var(--font-size-base);
  }
  .advanced-reporting {
    font-size: var(--font-size-3xl);
  }
  .morbi-eget-varius6 {
    font-size: var(--font-size-base);
  }
  .margin-trading {
    font-size: var(--font-size-3xl);
  }
  .margin-trading-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .morbi-eget-varius7 {
    font-size: var(--font-size-base);
  }
  .data-aggregator-parent {
    gap: 22px 45px;
  }
  .data-aggregator {
    padding-top: 38px;
    box-sizing: border-box;
  }
  .create-an-account,
  .mastercard,
  .ready-to-get {
    font-size: var(--font-size-3xl);
  }
  .heading-formatter {
    flex-wrap: wrap;
  }
  .anchor-link-generator,
  .cameron-williamson,
  .code-snippet-wrapper {
    font-size: var(--font-size-base);
  }
  .table-of-contents-creator {
    flex-wrap: wrap;
  }
  .list-marker-provider {
    gap: 21px 42px;
  }
  .crypto-wallet-visa {
    font-size: var(--font-size-2xl);
  }
  .visa-header {
    font-size: var(--font-size-3xl);
  }
  .fast-crypto-exchange {
    font-size: var(--font-size-2xl);
  }
  .thanks-to-cryptowallet-container {
    font-size: var(--font-size-3xl);
  }
  .value-range {
    gap: 18px 148px;
  }
  .no-experience,
  .no-worries {
    font-size: var(--font-size-8xl);
  }
  .rectangle-parent {
    gap: 158px 39px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .what-investors-say {
    font-size: var(--font-size-8xl);
  }
  .parallel-process {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .ceo-company,
  .ceo-company1,
  .investor-para,
  .john-doe,
  .sed-ut-perspi1,
  .sed-ut-perspi2,
  .taylor-doe {
    font-size: var(--font-size-3xl);
  }
  .component-2 {
    gap: 169.3px 21px;
  }
  .scheduler {
    flex: 1;
  }
  .decoder {
    flex-wrap: wrap;
    gap: 39px 19px;
  }
  .randomizer,
  .summit-boulevard-birmingham-a-wrapper {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .randomizer {
    padding-right: var(--padding-xl);
  }
  .desktop-2 {
    gap: 28px 113px;
  }
}
.swiper_mySwiper{
  width: 100%;
  height: 100%;
  font-size: 1vw;
}
.swiper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
 
}
.swiper-slide .neural-network-icon{
  display: block;
  width: 30%;
  height: 50%;
  object-fit: cover;
  overflow-x: hidden; 
}

.swiper-slide .video-processor-icon .video-processor-icon1 {
  display: block;
  width: 17%;
  height: 50%;
  object-fit: cover;
  overflow-x: hidden;
}
.swiper-slide .sound-processor-icon {
  display: block;
  width: 28%;
  height: 30%;
  position: relative;
  top: 12vw;
  left: 15vw;
  object-fit: cover;
  overflow-x: hidden;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}
