.frame-parent {
  align-self: stretch;
  background-color: var(--color-blueviolet-100);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 24px 65px var(--padding-2xl) 162px;
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-source-sans-pro);
}

.bitcoin-logo-1-icon {
  height: 26.3px;
  width: 40px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.cryptocoin {
  position: relative;
  display: inline-block;
  min-width: 76px;
  z-index: 1;
}
.bitcoin-logo-1-parent,
.cryptocoin-wrapper,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cryptocoin-wrapper {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.bitcoin-logo-1-parent,
.frame-wrapper {
  flex-direction: row;
}
.frame-wrapper {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 var(--padding-3xs) 3.7px 0;
}
.home {
  min-width: 41px;
}
.buy-sell,
.contact,
.home,
.news {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.buy-sell {
  min-width: 67px;
  white-space: nowrap;
}
.contact,
.news {
  min-width: 53px;
}
.news {
  min-width: 37px;
}
.frame-container,
.home-parent {
  display: flex;
  align-items: flex-start;
}
.home-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.home-parent a{
  color: white;
}
.frame-container {
  width: 363px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs);
  box-sizing: border-box;
  max-width: 100%;
}
.register-now {
  position: relative;
  display: inline-block;
  min-width: 103px;
  white-space: nowrap;
  z-index: 1;
}
.oops-error-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}

.sign-in {
  width: 54px;
  position: relative;
  font-size: var(--font-size-base);
  display: inline-block;
  font-family: var(--font-source-sans-pro);
  color: var(--color-blueviolet-100);
  text-align: center;
  min-width: 54px;
  z-index: 2;
}
.rectangle-parent,
.registration-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) 12px;
  background-color: var(--color-white);
  border-radius: var(--br-xl);
  white-space: nowrap;
  z-index: 1;
}
.rectangle-parent:hover {
  background-color: #e6e6e6;
}
.registration-form {
  gap: 35px;
}

.ready-to-get {
  margin: 0 !important;
  position: absolute;
  bottom: 574px;
  left: 341px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 2;
}
.wrapper-rectangle-17-child {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 10px;
  transform: scale(1.422);
}
.wrapper-rectangle-17 {
  height: 237px;
  width: 1109px;
  position: absolute;
  margin: 0 !important;
  top: -125px;
  right: -403px;
  border-radius: var(--br-xl);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-an-account {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 300;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.home-crypto-coin-logo {
  width: 597px;
  margin: 0 !important;
  position: absolute;
  top: 1444px;
  left: 333px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: center;
}
.phone-number-input-field-child {
  height: 45px;
  width: 285px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-blueviolet-100);
  display: none;
}
.contact-us {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.phone-number-input-field {
  border-radius: var(--br-xl);
  background-color: var(--color-blueviolet-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 61px;
  white-space: nowrap;
}

.email-input-field{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.email-input-field {
  flex-direction: column;
  gap: var(--gap-6xs);
}
.full-name-input-field {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
}
.contact-information {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.cryptocoin1 {
  position: relative;
  display: inline-block;
  min-width: 76px;
}
.santa-anaca-8975usa,
.south-franklin-road {
  margin: 0;
}
.south-franklin-road-santa-container {
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 300;
}
.cryptocoin-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.contact-number {
  position: relative;
  display: inline-block;
  min-width: 111px;
}
.phone-781-123-9865,
.toll-free-800-123-5689 {
  margin: 0;
}
.phone-781-123-9865-toll-free-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 300;
}
.contact-number-parent {
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 36px 0 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.office-hours {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.am-500pm,
.monday-friday {
  margin: 0;
}
.monday-friday-830am-container {
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 300;
}
.frame-parent3,
.office-hours-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-parent3 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.contact-information-parent {
  width: 672px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  max-width: 100%;
}
.complete-and-submit {
  width: 250px;
  position: relative;
  font-weight: 300;
  display: inline-block;
}
.frame-input,
.frame-parent4,
.hero-background {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-input,
.hero-background {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-white);
  height: 51px;
  flex: 1;
  border-radius: var(--br-xl);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.25);
  padding: var(--padding-sm) var(--padding-6xl);
  box-sizing: border-box;
  font-family: var(--font-source-sans-pro);
  font-size: var(--font-size-lg);
  color: var(--color-blueviolet-200);
  min-width: 231px;
}
.frame-parent4 {
  align-self: stretch;
  gap: 25px;
}
.frame-child1 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-white);
  height: 51px;
  flex: 1;
  border-radius: var(--br-xl);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.25);
  padding: var(--padding-sm) var(--padding-6xl);
  box-sizing: border-box;
  font-family: var(--font-source-sans-pro);
  font-size: var(--font-size-lg);
  color: var(--color-blueviolet-200);
  min-width: 231px;
  max-width: 100%;
}
.frame-child1,
.frame-child2,
.frame-parent5,
.hero-background-color-child {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child2 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-white);
  height: 51px;
  flex: 1;
  border-radius: var(--br-xl);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.25);
  padding: var(--padding-sm) 26px;
  box-sizing: border-box;
  font-family: var(--font-source-sans-pro);
  font-size: var(--font-size-lg);
  color: var(--color-blueviolet-200);
  min-width: 231px;
  max-width: 100%;
}
.frame-parent5,
.hero-background-color-child {
  align-self: stretch;
}
.frame-parent5 {
  gap: 24px;
  max-width: 100%;
}
.hero-background-color-child {
  border: 0;
  background-color: var(--color-white);
  height: 219px;
  width: auto;
  outline: 0;
  border-radius: var(--br-xl);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.25);
  padding: 28px var(--padding-6xl);
  box-sizing: border-box;
  font-family: var(--font-source-sans-pro);
  font-size: var(--font-size-lg);
  color: var(--color-blueviolet-200);
}
.hero-background-color {
  align-self: stretch;
  gap: var(--gap-21xl);
}
.complete-and-submit-the-form-b-parent,
.frame-parent2,
.hero-background-color {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.complete-and-submit-the-form-b-parent {
  align-self: stretch;
  gap: 60px;
  font-size: var(--font-size-mini);
}
.frame-parent2 {
  flex: 1;
  gap: 80px;
  min-width: 479px;
}


.main-navigation {
  flex: 1;
  border-radius: none;
  /* border-radius: var(--br-xl); */
  background-color: var(--color-white);
  border: 2px solid var(--color-blueviolet-100);
  box-sizing: border-box;
  width: 100%;
  height: 20%;
  position: relative;
  top: 5vw;
}

.frame-parent1,
.main-navigation-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.main-navigation-parent {
  height: 606px;
  width: 356px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 356px;
  font-size: var(--font-size-mini);
}
.frame-parent1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: 23px;
}
.submit-button-item {
  height: 51px;
  width: 132px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-blueviolet-100);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.25);
  display: none;
}
.submit {
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-source-sans-pro);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 64px;
  z-index: 1;
}
.frame-div,
.full-name-input-field-parent,
.submit-button1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.submit-button1 {
  position: relative;
  bottom: 12vw;
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) 34px var(--padding-sm);
  background-color: var(--color-blueviolet-100);
  border-radius: var(--br-xl);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.25);
  flex-direction: row;
}
.register-now-wrapper:hover,
.submit-button1:hover {
  background-color: var(--color-mediumslateblue);
}
.frame-div,
.full-name-input-field-parent {
  flex-direction: column;
  max-width: 100%;
}
.frame-div {
  align-self: stretch;
  gap: var(--gap-21xl);
  font-size: 25px;
  color: var(--color-black);
}
.full-name-input-field-parent {
  width: 1116px;
  gap: 90px;
}
.rectangle-div {
  height: 400px;
  width: 400px;
  position: absolute;
  margin: 0 !important;
  bottom: -456.94px;
  left: -404px;
  border-radius: var(--br-31xl);
  background-color: var(--color-blueviolet-100);
  box-shadow: 0 20px 100px #5d46e8;
  transform: rotate(-45.1deg);
  transform-origin: 0 0;
  z-index: 1;
}
.frame-group,
.register-now1 {
  position: relative;
  font-family: var(--font-source-sans-pro);
  color: var(--color-white);
  text-align: left;
}
.frame-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 108.2px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 35px;
}
.register-now1 {
  font-size: var(--font-size-lg);
  display: inline-block;
  min-width: 99px;
}
.register-now-wrapper {
  cursor: pointer;
  border: 0;
  padding: 15.5px 27.5px;
  background-color: var(--color-blueviolet-100);
  position: absolute;
  top: 83.8px;
  left: 1056px;
  border-radius: var(--br-xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 2;
}
.services,
.we-help-you {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.we-help-you {
  width: 189px;
  font-weight: 500;
  flex-shrink: 0;
}
.services {
  min-width: 67px;
}
.services-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi);
  text-align: left;
}
.buy-bitcoin {
  flex: 1;
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.buy-bitcoin-wrapper {
  width: 107px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.buy-ethereum {
  flex: 1;
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 107px;
  z-index: 1;
}
.buy-ethereum-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi) var(--padding-10xs) var(--padding-3xs);
}
.sell-bitcoins {
  flex: 1;
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.sell-bitcoins-wrapper {
  width: 113px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) var(--padding-10xs);
  box-sizing: border-box;
}
.bitcoin-trading {
  flex: 1;
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 117px;
  z-index: 1;
}
.bitcoin-trading-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) var(--padding-10xs) var(--padding-4xs);
}
.margin-trading {
  flex: 1;
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.frame-parent9,
.margin-trading-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.margin-trading-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
}
.frame-parent9 {
  width: 130px;
  flex-direction: column;
  gap: var(--gap-6xs);
  min-width: 130px;
}
.information {
  position: relative;
  display: inline-block;
  min-width: 96px;
  z-index: 1;
}
.information-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
  text-align: left;
}
.payment-options {
  flex: 1;
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.payment-options-wrapper {
  width: 140px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 5px var(--padding-10xs);
  box-sizing: border-box;
}
.fee-schedule {
  flex: 1;
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.fee-schedule-wrapper {
  width: 115px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) var(--padding-10xs);
  box-sizing: border-box;
}
.getting-started {
  flex: 1;
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 116px;
  z-index: 1;
}
.getting-started-wrapper {
  width: 130px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) var(--padding-10xs);
  box-sizing: border-box;
}
.identify-verification-guide {
  flex: 1;
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.identify-verification-guide-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs) var(--padding-6xs);
}
.card-verification-guide {
  width: 184px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  z-index: 1;
}
.frame-parent10,
.frame-parent8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent10 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-6xs);
  min-width: 129px;
}
.frame-parent8 {
  width: 368px;
  flex-direction: row;
  gap: 39px;
  min-width: 368px;
  max-width: 100%;
}
.get-in-touch {
  position: relative;
  display: inline-block;
  min-width: 96px;
  z-index: 1;
}
.birmingham-al-35243,
.summit-boulevard {
  margin: 0;
}
.summit-boulevard-birmingham-a-container {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.map-link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 37px var(--padding-mini) 44px;
}
.telephone-123 {
  align-self: stretch;
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.infositenamecom1 {
  text-decoration: underline;
}
.infositenamecom {
  color: inherit;
}
.wwwexamplecom1 {
  text-decoration: underline;
}
.wwwexamplecom {
  color: inherit;
}
.email-infositenamecomweb-container {
  align-self: stretch;
  height: 69px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  z-index: 1;
}
.info-box {
  width: 206px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 19px;
}
.email-label,
.get-in-touch-parent,
.info-box {
  display: flex;
  align-items: flex-start;
}
.email-label {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
.get-in-touch-parent {
  width: 250px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  min-width: 250px;
  text-align: left;
}
.frame-parent7,
.frame-wrapper1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent7 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper1 {
  width: 714px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  text-align: center;
  font-family: var(--font-source-sans-pro);
}
.we-help-you-find-your-dream-pl-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.hero-background-color1 {
  position: absolute;
  top: 277.51px;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-blueviolet-100);
  box-shadow: 0 20px 100px #5d46e8;
  width: 1774px;
  height: 1071px;
  transform: rotate(-9deg);
  transform-origin: 0 0;
}
.location-1-icon,
.phone-call-1-icon {
  position: absolute;
  top: 360.8px;
  left: 1408px;
  width: 30px;
  height: 30px;
  object-fit: cover;
  z-index: 1;
}
.phone-call-1-icon {
  top: 435.8px;
  left: 1412px;
}
.frame-child3,
.frame-child4,
.group-icon {
  position: absolute;
  top: 388.8px;
  left: 587px;
  width: 48px;
  height: 48px;
  z-index: 1;
}
.frame-child3,
.frame-child4 {
  left: 659px;
}
.frame-child4 {
  left: 731px;
}
.hero-background-color-parent {
  width: 1919.7px;
  height: 1335.3px;
  position: absolute;
  margin: 0 !important;
  bottom: -659.5px;
  left: -342px;
}
.copyright-2018 {
  position: relative;
  font-weight: 300;
  font-family: var(--font-source-sans-pro);
  z-index: 1;
}
.frame-parent6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 310.8px 121px 50px 246px;
  box-sizing: border-box;
  gap: var(--gap-21xl);
  max-width: 100%;
  height: 100%;
}
.create-form {
  align-self: stretch;
  height: 675.8px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.desktop-5-child {
  width: 400px;
  height: 400px;
  position: absolute;
  margin: 0 !important;
  top: 283.14px;
  right: -243px;
  border-radius: var(--br-31xl);
  background-color: var(--color-blueviolet-100);
  box-shadow: 0 20px 100px #5d46e8;
  transform: rotate(-45.1deg);
  transform-origin: 0 0;
  z-index: 3;
}
.desktop-5 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 100px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-source-sans-pro);
}
@media screen and (max-width: 1300px) {
  .full-name-input-field-parent {
    gap: 45px 90px;
  }
  .we-help-you-find-your-dream-pl-parent {
    flex-wrap: wrap;
  }
  .create-form {
    height: auto;
    min-height: 675.8;
  }
}
@media screen and (max-width: 1100px) {
  .main-navigation-parent {
    flex: 1;
  }
  .frame-parent1 {
    flex-wrap: wrap;
  }
  .frame-group {
    padding-bottom: 70px;
    box-sizing: border-box;
  }
  .frame-parent8,
  .get-in-touch-parent {
    flex: 1;
  }
  .frame-parent7 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .home-parent {
    display: none;
  }
  .frame-container {
    width: 0;
  }
  .frame-parent {
    padding-left: 81px;
    padding-right: 32px;
    box-sizing: border-box;
  }
  .frame-parent3,
  .frame-parent4,
  .frame-parent5 {
    flex-wrap: wrap;
  }
  .hero-background-color {
    gap: 20px 40px;
  }
  .complete-and-submit-the-form-b-parent {
    gap: 30px 60px;
  }
  .frame-parent2 {
    gap: 40px 80px;
    min-width: 100%;
  }
  .main-navigation {
    padding-top: var(--padding-88xl);
    padding-bottom: var(--padding-88xl);
    box-sizing: border-box;
  }
  .frame-div {
    gap: 20px 40px;
  }
  .full-name-input-field-parent {
    gap: 22px 90px;
  }
  .frame-group {
    padding-bottom: 45px;
    box-sizing: border-box;
  }
  .frame-parent8 {
    min-width: 100%;
  }
  .frame-parent6 {
    gap: 20px 40px;
    padding-left: 123px;
    padding-right: 60px;
    box-sizing: border-box;
  }
  .desktop-5 {
    gap: 50px 100px;
  }
}
@media screen and (max-width: 450px) {
  .frame-parent {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .create-an-account,
  .ready-to-get {
    font-size: var(--font-size-3xl);
  }
  .error-page-wrapper,
  .phone-number-input-field {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .contact-information {
    font-size: 20px;
  }
  .frame-parent2 {
    gap: 20px 80px;
  }
  .main-navigation-parent {
    min-width: 100%;
  }
  .frame-parent9 {
    flex: 1;
  }
  .frame-parent8 {
    flex-wrap: wrap;
    gap: 39px 19px;
  }
  .frame-parent6,
  .map-link {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent6 {
    padding-right: var(--padding-xl);
  }
  .desktop-5 {
    gap: 25px 100px;
  }
}

.img{
  width: 354px;
  height: 604px;
  place-content: cover;
}
.error-message {
  color: red;
}
