.desktop-1-child {
  position: absolute;
  top: 1187.2px;
  left: 1771px;
  border-radius: var(--br-31xl);
  background-color: var(--color-blueviolet);
  box-shadow: 0 20px 100px #5d46e8;
  width: 400px;
  height: 400px;
  transform: rotate(-45.1deg);
  transform-origin: 0 0;
}
.cameron-williamson,
.div,
.div1 {
  position: absolute;
  top: 3778px;
  left: 197px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.06em;
  font-family: var(--font-roboto);
  color: var(--color-gray-100);
}
.div,
.div1 {
  left: 555px;
}
.div1 {
  top: 3713px;
  left: 233px;
  letter-spacing: 0.51em;
  white-space: pre-wrap;
}
.logo-icon,
.mastercard {
  position: absolute;
  top: 3603px;
}
.logo-icon {
  left: 566px;
  width: 47px;
  height: 37px;
}
.mastercard {
  left: 194px;
  font-size: var(--font-size-9xl);
  letter-spacing: 0.06em;
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-gray-100);
  width: 158px;
}
.looking-to-get,
.lorem-ipsum-dolor2 {
  margin: 0;
}
.looking-to-get-container {
  position: absolute;
  top: 4805px;
  left: 720px;
  font-weight: 300;
  font-family: var(--font-inter);
  display: inline-block;
  width: 546px;
  height: 164px;
}
.no-experience,
.no-worries {
  position: absolute;
  top: 4651px;
  left: 720px;
  font-size: var(--font-size-26xl);
  font-weight: 600;
}
.no-worries {
  top: 4723px;
}
.hero-background-color1 {
  position: absolute;
  top: 6397.7px;
  left: -418px;
  border-radius: var(--br-31xl);
  background-color: var(--color-blueviolet);
  box-shadow: 0 20px 100px #5d46e8;
  width: 1774px;
  height: 1071px;
  transform: rotate(-9deg);
  transform-origin: 0 0;
}
.location-1-icon1 {
  position: absolute;
  top: 6481px;
  left: 990px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.wrapper-rectangle-17-child {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 10px;
  transform: scale(1.422);
}
.wrapper-rectangle-17 {
  position: absolute;
  top: 6112px;
  left: 148px;
  border-radius: var(--br-xl);
  width: 1109px;
  height: 237px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-now1 {
  position: relative;
}
.register-now-wrapper {
  position: absolute;
  top: 6204px;
  left: 980px;
  border-radius: var(--br-xl);
  background-color: var(--color-blueviolet);
  width: 154px;
  height: 54px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) 43px;
  box-sizing: border-box;
}
.create-an-account,
.ready-to-get1 {
  position: absolute;
  top: 6187px;
  left: calc(50% - 455px);
  font-size: var(--font-size-9xl);
  color: var(--color-black);
}
.create-an-account {
  top: 6237px;
  left: calc(50% - 463px);
  font-weight: 300;
  text-align: center;
  display: inline-block;
  width: 597px;
}
.bitcoin-trading1,
.buy-bitcoin1,
.buy-ethereum1,
.margin-trading1,
.sell-bitcoins1 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  display: inline-block;
  width: 107px;
}
.bitcoin-trading1,
.buy-ethereum1,
.margin-trading1,
.sell-bitcoins1 {
  top: 33px;
  left: 10px;
}
.bitcoin-trading1,
.margin-trading1,
.sell-bitcoins1 {
  top: 66px;
  left: 3px;
}
.bitcoin-trading1,
.margin-trading1 {
  top: 99px;
  left: 9px;
  width: 117px;
}
.margin-trading1 {
  top: 132px;
  left: 3px;
  width: 127px;
}
.buy-bitcoin-parent {
  position: absolute;
  top: 6465px;
  left: 529px;
  width: 116px;
  height: 167px;
  text-align: center;
}
.payment-options1 {
  position: absolute;
  top: 0;
  left: 5px;
  font-weight: 300;
  display: inline-block;
  width: 130px;
}
.birmingham-al-352431,
.summit-boulevard1 {
  margin: 0;
}
.summit-boulevard-birmingham-a-container1,
.telephone-1231 {
  position: absolute;
  top: 8px;
  left: 339px;
  font-weight: 300;
  text-align: left;
  display: inline-block;
  width: 169px;
}
.telephone-1231 {
  top: 84px;
  width: 206px;
}
.infositenamecom3 {
  text-decoration: underline;
}
.infositenamecom2 {
  color: inherit;
}
.wwwexamplecom3 {
  text-decoration: underline;
}
.wwwexamplecom2 {
  color: inherit;
}
.email-infositenamecomweb-container1,
.fee-schedule1 {
  position: absolute;
  font-weight: 300;
  display: inline-block;
}
.email-infositenamecomweb-container1 {
  top: 149px;
  left: 339px;
  text-align: left;
  width: 206px;
}
.fee-schedule1 {
  top: 33px;
  left: 4px;
  width: 107px;
}
.card-verification-guide1,
.getting-started1,
.identify-verification-guide1 {
  position: absolute;
  top: 66px;
  left: 7px;
  font-weight: 300;
  display: inline-block;
  width: 116px;
}
.card-verification-guide1,
.identify-verification-guide1 {
  top: 99px;
  width: 192px;
}
.card-verification-guide1 {
  top: 132px;
  left: 0;
  width: 184px;
}
.payment-options-parent {
  position: absolute;
  top: 6465px;
  left: 698px;
  width: 207px;
  height: 167px;
  text-align: center;
}
.phone-call-1-icon1 {
  position: absolute;
  top: 6556px;
  left: 994px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.services1 {
  position: absolute;
  top: 6435px;
  left: 542px;
}
.get-in-touch1,
.information1 {
  position: absolute;
  top: 6435px;
  left: 708px;
}
.get-in-touch1 {
  left: 993px;
}
.we-help-you1 {
  width: 189px;
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.we-help-you-find-your-dream-pl-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child1,
.frame-child2,
.group-icon {
  width: 48px;
  position: relative;
  height: 48px;
}
.frame-parent2,
.group-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame-parent2 {
  position: absolute;
  top: 6431px;
  left: 169px;
  flex-direction: column;
  font-family: var(--font-poppins);
}
.copyright-20181 {
  position: absolute;
  top: 6723px;
  left: 170px;
  font-weight: 300;
}
.cryptocoin {
  position: absolute;
  top: 31px;
  left: 202px;
  font-size: var(--font-size-base);
}
.bitcoin-logo-1-icon {
  position: absolute;
  top: 28px;
  left: 162px;
  width: 40px;
  height: 26.3px;
  object-fit: cover;
}
.bitcoin-exchange,
.you-can-trust {
  position: absolute;
  top: 263px;
  left: 162px;
  font-size: var(--font-size-26xl);
}
.you-can-trust {
  top: 325px;
}
.sed-ut-persp {
  position: absolute;
  top: 407px;
  left: 162px;
  display: inline-block;
  width: 475px;
  height: 117px;
}
.register-now2 {
  position: absolute;
  top: 31px;
  left: 1159px;
  font-size: var(--font-size-base);
}
.desktop-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 6800px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-source-sans-pro);
}
