.component-3 {
  width: 78px;
  height: 34px;
  position: relative;
  display: none;
  z-index: 0;
}
.plate-icon {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 10px;
  transform: scale(1.422);
}
.wrapper-plate {
  height: 237px;
  width: 1109px;
  position: absolute;
  margin: 0 !important;
  right: -93px;
  bottom: -215px;
  border-radius: var(--br-xl);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 82px;
}
.image-circle {
  height: 5px;
  width: 5px;
  position: relative;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}
.image-circle-wrapper {
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 37px 0 40px;
}
.frame-container,
.image-circle-wrapper,
.news-parent {
  display: flex;
  align-items: flex-start;
}
.news-parent {
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}
.frame-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.posted-03-dec,
.posted-03-dec1,
.posted-03-dec2 {
  width: 276px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
}
.posted-03-dec-2017-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.working-hard-to,
.working-hard-to1 {
  width: 230px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.fee-payment-options,
.working-hard-to-keep-pace-with-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.working-hard-to-keep-pace-with-parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.fee-payment-options {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 23px;
  box-sizing: border-box;
}
.lorem-ipsum-dolor,
.lorem-ipsum-dolor1 {
  width: 276px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
}
.frame-group,
.lorem-ipsum-dolor-sit-amet-co-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-group {
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-mini);
}
.frame-parent,
.frame-wrapper,
.wrapper-plate-parent {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent {
  width: 1030px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
  gap: 442px;
}
.frame-wrapper,
.wrapper-plate-parent {
  flex-direction: row;
}
.frame-wrapper {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 616px;
}
.wrapper-plate-parent {
  width: 1245px;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  position: relative;
  text-align: left;
  font-size: 35px;
  color: var(--color-white);
  font-family: var(--font-source-sans-pro);
}
.get-in-touch,
.information,
.plate-para,
.services {
  position: absolute;
  margin: 0 !important;
  display: inline-block;
}
.plate-para {
  width: 597px;
  bottom: 685px;
  left: 329px;
  font-size: var(--font-size-9xl);
  font-weight: 300;
  font-family: inherit;
  color: var(--color-black);
  text-align: center;
  z-index: 2;
}
.get-in-touch,
.information,
.services {
  bottom: 720px;
  z-index: 3;
}
.services {
  left: 618px;
  min-width: 67px;
}
.get-in-touch,
.information {
  right: 560px;
  min-width: 96px;
}
.get-in-touch {
  right: 275px;
}
.ready-to-get {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 2;
}
.ready-to-get-started-wrapper {
  width: 1024px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
}
.register-now {
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-source-sans-pro);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 99px;
}
.registration-form {
  cursor: pointer;
  border: 0;
  padding: 15.5px 27.5px;
  background-color: var(--color-blueviolet);
  position: absolute;
  top: 12px;
  left: 1041px;
  border-radius: var(--br-xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 2;
}
.registration-form:hover {
  background-color: #856eff;
}
.we-help-you {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.we-help-you-find-your-dream-pl-wrapper {
  width: 189px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 143px 0 0;
  box-sizing: border-box;
}
.buy-bitcoin,
.buy-ethereum {
  position: relative;
  font-weight: 300;
  display: inline-block;
  z-index: 1;
}
.buy-bitcoin {
  width: 107px;
}
.buy-ethereum {
  flex: 1;
  min-width: 107px;
}
.buy-ethereum-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 13px 0 10px;
}
.sell-bitcoins {
  flex: 1;
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.sell-bitcoins-wrapper {
  width: 113px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
}
.bitcoin-trading {
  flex: 1;
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 117px;
  z-index: 1;
}
.bitcoin-trading-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 9px;
}
.margin-trading {
  flex: 1;
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.margin-trading-wrapper,
.sell-bitcoins-call-to-action {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.margin-trading-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
}
.sell-bitcoins-call-to-action {
  width: 130px;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.payment-options {
  flex: 1;
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.payment-options-wrapper {
  width: 140px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
}
.fee-schedule {
  flex: 1;
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.fee-schedule-wrapper {
  width: 115px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.getting-started {
  flex: 1;
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 116px;
  z-index: 1;
}
.getting-started-wrapper {
  width: 130px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs);
  box-sizing: border-box;
}
.identify-verification-guide {
  flex: 1;
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.identify-verification-guide-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-6xs);
}
.card-verification-guide {
  width: 184px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  z-index: 1;
}
.fee-schedule-container,
.payment-options-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.fee-schedule-container {
  width: 199px;
  gap: var(--gap-3xs);
}
.payment-options-container {
  width: 255px;
  padding: 6px 0 0;
  box-sizing: border-box;
}
.birmingham-al-35243,
.summit-boulevard {
  margin: 0;
}
.summit-boulevard-birmingham-a-container,
.telephone-123 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.telephone-123 {
  align-self: stretch;
}
.infositenamecom1 {
  text-decoration: underline;
}
.infositenamecom {
  color: inherit;
}
.wwwexamplecom1 {
  text-decoration: underline;
}
.wwwexamplecom {
  color: inherit;
}
.email-infositenamecomweb-container {
  align-self: stretch;
  height: 69px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  z-index: 1;
}
.telephone-123-45678910-tel-parent {
  align-self: stretch;
  gap: 19px;
}
.buy-ethereum-call-to-action-inner,
.summit-boulevard-birmingham-a-parent,
.telephone-123-45678910-tel-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.summit-boulevard-birmingham-a-parent {
  align-self: stretch;
  gap: 30px;
}
.buy-ethereum-call-to-action-inner {
  width: 206px;
  padding: 14px 0 0;
  box-sizing: border-box;
  text-align: left;
}
.buy-ethereum-call-to-action {
  justify-content: flex-start;
  gap: 84px;
  text-align: center;
  font-family: var(--font-source-sans-pro);
}
.buy-ethereum-call-to-action,
.frame-parent1,
.frame-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent1 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper1 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 0 4.5px;
  box-sizing: border-box;
}
.hero-background-color {
  position: absolute;
  top: 277.51px;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-blueviolet);
  box-shadow: 0 20px 100px #5d46e8;
  width: 1774px;
  height: 740px;
  transform: rotate(-9deg);
  transform-origin: 0 0;
}
.location-1-icon,
.phone-call-1-icon {
  position: absolute;
  top: 241px;
  left: 1282px;
  width: 30px;
  height: 30px;
  object-fit: contain;
  z-index: 1;
}
.phone-call-1-icon {
  top: 317px;
}
.frame-child,
.frame-inner,
.frame-item {
  position: absolute;
  top: 433px;
  left: 424px;
  width: 48px;
  height: 48px;
  z-index: 1;
}
.frame-inner,
.frame-item {
  left: 496px;
}
.frame-inner {
  left: 568px;
}
.hero-background-color-parent {
  width: 1867.9px;
  height: 1008.4px;
  position: absolute;
  margin: 0 !important;
  right: -248.9px;
  bottom: -276.4px;
}
.copyright-2018 {
  position: relative;
  font-weight: 300;
  font-family: var(--font-source-sans-pro);
  z-index: 1;
}
.frame-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 212px 63px 174px 242px;
  box-sizing: border-box;
  gap: 99px;
  max-width: 100%;
  height: 100%;
}
.desktop-6,
.registration-form-parent {
  position: relative;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.registration-form-parent {
  align-self: stretch;
  height: 732px;
  max-width: 100%;
  font-family: var(--font-poppins);
}
.desktop-6 {
  width: 100%;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 179px 0 0;
  box-sizing: border-box;
  gap: 11px;
  line-height: normal;
  letter-spacing: normal;
  font-family: var(--font-source-sans-pro);
}
@media screen and (max-width: 1275px) {
  .frame-wrapper {
    padding-bottom: 400px;
    box-sizing: border-box;
  }
  .frame-parent1 {
    flex-wrap: wrap;
  }
  .registration-form-parent {
    height: auto;
    min-height: 732;
  }
}
@media screen and (max-width: 1100px) {
  .posted-03-dec-2017-parent {
    flex-wrap: wrap;
  }
  .frame-parent {
    gap: 221px;
  }
  .buy-ethereum-call-to-action {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .news {
    font-size: var(--font-size-9xl);
  }
  .lorem-ipsum-dolor-sit-amet-co-parent,
  .working-hard-to-keep-pace-with-parent {
    flex-wrap: wrap;
  }
  .frame-parent {
    gap: 110px;
  }
  .frame-wrapper {
    padding-bottom: 260px;
    box-sizing: border-box;
  }
  .buy-ethereum-call-to-action {
    gap: 42px;
  }
  .frame-div {
    gap: 49px;
    padding-left: 121px;
    padding-right: 31px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .news {
    font-size: 21px;
  }
  .frame-parent {
    gap: 55px;
  }
  .plate-para,
  .ready-to-get {
    font-size: var(--font-size-3xl);
  }
  .buy-ethereum-call-to-action {
    gap: 21px;
  }
  .frame-div {
    gap: 25px;
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
